!/*.qsys
/.qsys_edit
/db
/incremental_db
/greybox_tmp
/output_files/*
!/output_files/*.cof
!/output_files/*.sof
*.tcl~
*.log
*.sopcinfo
*.qws
*.pdf

/controller

/software/.metadata
/software/RemoteSystemsTempFiles/
software/controller_bsp/
software/controller/*
!/software/controller/source/
!/software/controller/Makefile

